@font-face {
  font-family: "WorkSans-700";
  src: url("../fonts/WorkSans-Bold-700.woff2");
  font-display: swap;
}
@font-face {
  font-family: "WorkSans-600";
  src: url("../fonts/WorkSans-SemiBold-600.woff2");
  font-display: swap;
}
@font-face {
  font-family: "WorkSans-500";
  src: url("../fonts/WorkSans-Medium-500.woff2");
  font-display: swap;
}
@font-face {
  font-family: "WorkSans-400";
  src: url("../fonts/WorkSans-Regular-400.woff2");
  font-display: swap;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "WorkSans-400";
  font-size: 1rem;
  line-height: 1.5;
  color: #7b7b7b;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  display: flex;
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

/*==========header==========*/
.header--inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

.nav {
}

.nav--link {
  cursor: pointer;
  padding: 2rem 1rem;
  color: #373737;
  font-family: "WorkSans-500", serif;
  font-size: 1.25rem;
}

.nav--link:not(:last-child) {
  margin-right: 1.5rem;
}
.switch {
  max-width: 1.5rem;
  max-height: 1.5rem;
  background: transparent;
  border: none;
  cursor: pointer;
}

/*==========section home==========*/
.section--inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10rem 0;
}

.section--orange {
  background-color: #fff7f4;
  display: flex;
  align-items: center;
}

.section--info {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.section--name {
  text-transform: capitalize;
}

.section--heading {
  padding: 1rem 0;
  font-family: "WorkSans-700", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 123.6%;
  text-transform: capitalize;
  color: #373737;
}

.section--heading span {
  color: #ff5300;
}

.section--text {
  padding: 1rem 0;
}

.section--img {
  flex-basis: 150%;
}

/*==========button==========*/
.section--btn {
  background: #ff5300;
  padding: 1rem 1.25rem;
  margin-top: 50px;
  text-transform: capitalize;
  cursor: pointer;
  box-shadow: 0px 1px 10px #0000001a;
  border-radius: 5px;
  color: #fff;
  border: none;
  font-size: 20px;
  font-family: "WorkSans-500", serif;
}

/*==========social icons==========*/
.icon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 40px;
  max-height: 40px;
  padding: 10px 5px;
  background: #fff;
}

.hoved--icon {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.icon:hover {
  background: #ff5300;
}

.icon:hover .hoved--icon {
  opacity: 1;
}

/*==========section about==========*/
.section--about {
  flex-direction: column;
}

.section--about > .section--inner {
  padding-bottom: 0;
}

.about--pages {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10rem;
}

.about--page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 1px 10px #0000001a;
  margin: 2rem 0.5rem;
  padding: 0 2rem;
}

.circle {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
}

.circle > img {
  flex-basis: 50%;
}

.circle--orange {
  background-color: #ff5300;
}

.circle--gray {
  background-color: #7b7b7b;
}

.circle--blue {
  background-color: #00acff;
}

.circle--black {
  background-color: #373737;
}

.page--text {
  text-align: center;
  margin: 1.2rem 2rem;
}

/*==========Our Expereince==========*/
.expirience {
  align-items: normal;
}

.experience--wrap {
  display: flex;
}
.section--content {
  display: flex;
  align-items: flex-start;
}

.section--content:last-child {
  align-items: flex-end;
}

.content--wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 1rem;
  width: 15rem;
  height: 16rem;
  background: #fff;
}

.box > h4 {
  padding: 1rem;
  font-family: "Work Sans-500", serif;
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.25;
  color: #373737;
}

.box > p {
  padding: 1rem;
  font-family: "Work Sans-500", serif;
  font-size: 1.25rem;
  line-height: 1.25;
  color: #7b7b7b;
  text-transform: capitalize;
}

/*==========Team Member==========*/

.section--wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.info--wrap {
  padding: 5rem 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.person {
  position: relative;
  box-shadow: 0px 1px 10px #0000001a;
}

.person:not(:last-child) {
  margin-right: 1rem;
}

.hidden-icons {
  position: absolute;
  top: 20%;
  right: 0;
  height: 10%;
  transform: translateY(-50%);
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.person:hover .hidden-icons {
  opacity: 1;
}

.person--box > h3 {
  padding: 1rem;
  font-family: "Work Sans-500", serif;
  font-size: 1.25rem;
  line-height: 1.25;
  color: #000000;
  text-transform: capitalize;
}

.person--box > p {
  padding: 1rem;
  font-family: "Work Sans-400", serif;
  font-size: 1rem;
  line-height: 1.5;
  color: #7b7b7b;
}

.team--wrap {
  padding-bottom: 5rem;
}
